@import 'vars';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* Указываем положение фона — верхний край по центру */
    background-position: center top;
    font-family: Montserrat, "arial";
}

.center {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
}

.header-top {
    background: rgba(225, 255, 143, 1);
    

}

.header {
  
    width: 769px;
    height: 358px;
    top: 196px;
    left: 120px;
    gap: 48px;
   
     &-top__title{
        margin: 196px;
        gap: 24px;
    font-family: Montserrat;
    font-weight: 700;
   
    font-size: 64px;
   
    line-height: 100%;
    letter-spacing: 0px;
    
    width: 769px;
    
     }
}

