@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*background-position: center top;*/
  font-family: "Montserrat", Arial;
  /* Добавил запасной шрифт */
}

.cart-text__button:hover,
.mini__button:hover,
.mini__button1:hover,
.mini__button2:hover,
.mini__button3:hover,
.mini__button4:hover,
.mini__button5:hover {
  background-color: #fff;
  color: #050505;
  border: 1px solid rgb(0, 0, 0);
}

.cart {
  background: rgb(225, 255, 143);
  /* padding-top: 100px;
  padding-top: 120px;*/
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.container {
  position: relative;
  width: 100%;
  background: #E1FF8F;
}

.cart__vector {
  position: absolute;
  width: 413px;
  height: 528px;
  transform: rotate(0deg);
  opacity: 1;
  right: 0;
  border-width: 1px;
}

.cart__Start-4 {
  box-sizing: border-box;
  position: absolute;
  right: 250px;
  top: 568px;
}

.cart__vector-4780 {
  position: absolute;
  top: -10px;
  right: 276px;
}

.cart__Start-5 {
  box-sizing: border-box;
  position: absolute;
  right: 400px;
  top: 538px;
}

.cart__vector-4781 {
  position: absolute;
  right: 219px;
  top: 254px;
}

.cart__Start-3 {
  box-sizing: border-box;
  position: absolute;
  left: 90px;
  top: 69px;
}

.cart__vector-4782 {
  position: absolute;
  right: 15px;
  top: 379px;
}

.cart__Start-2 {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 94px;
}

.cart__vector-4788 {
  position: absolute;
  /*width: 80px;*/
  right: 122px;
  top: 468px;
}

.cart__vector-4791 {
  position: absolute;
  right: 70px;
  top: 663px;
}

.cart-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  position: relative;
  z-index: 1;
  padding-top: 196px;
  padding-bottom: 156px;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.cart-text h1 {
  /* Добро пожаловать на мой сайт мини-игр */
  width: 769px;
  height: 156px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #202027;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cart-text p {
  /* Тебе предстоит пройти несколько увлекательных игр. Если готов, нажимай «Поехали!» и приступай. */
  width: 720px;
  height: 64px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #202027;
  flex: none;
  flex-grow: 0;
}

.cart-text__button {
  text-decoration: none;
  font-family: Montserrat, Arial;
  color: #fff;
  width: 247px;
  height: 66px;
  gap: 10px;
  /* Убрано, так как кнопка не является флекс-контейнером по умолчанию */
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  text-align: center;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 16px;
  padding-left: 28px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  cursor: pointer;
  /* Улучшает UX */
}

span {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.lenta {
  border: 1px solid rgba(255, 255, 255, 0.2);
  top: 710px;
  left: -30px;
  border-width: 1px;
  padding-top: 27px;
  padding-bottom: 27px;
  opacity: 1;
  background: rgb(188, 236, 48);
  backdrop-filter: blur(50px);
}

.lenta-content {
  display: flex;
  gap: 51px;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  flex-wrap: nowrap;
  /* Запрещаем перенос на новую строку */
  align-items: center;
  letter-spacing: 0.04em;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.scrolling-container {
  overflow: hidden;
  /* Скрываем все, что выходит за пределы контейнера */
  width: 100%;
  /* Занимает всю доступную ширину родителя */
}

.lenta-content {
  /* ...другие стили... */
  animation: scrollLeft 25s linear infinite;
  /* 25s - скорость прокрутки. Чем больше число, тем медленнее. */
}

.lenta-content__item-1 {
  /* Викторина */
  height: 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #202027;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.lenta-content__Start {
  width: 36px;
  height: 36px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.lenta-content__item-2 {
  height: 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #202027;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.lenta-content__Start-1 {
  width: 36px;
  height: 36px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.lenta-content__item-3 {
  /* Переверни текст */
  height: 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #202027;
  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
}

.lenta-content__Start-2 {
  width: 36px;
  height: 36px;
  flex: none;
  order: 5;
  flex-grow: 0;
}

.lenta-content__item-4 {
  height: 32px;
  /* Простая арифметика */
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #202027;
  flex: none;
  order: 6;
  flex-grow: 0;
}

.lenta-content__Start-3 {
  width: 36px;
  height: 36px;
  flex: none;
  order: 7;
  flex-grow: 0;
}

.lenta-content__item-5 {
  /* Камень, ножницы, бумага */
  height: 33px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #202027;
  flex: none;
  order: 8;
  flex-grow: 0;
}

.lenta-content__Start-4 {
  width: 36px;
  height: 36px;
  flex: none;
  order: 9;
  flex-grow: 0;
}

.lenta-content__item-6 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #202027;
  flex: none;
  order: 10;
  flex-grow: 0;
  width: 588px;
  height: 33px;
}

.lenta-content__Start-5 {
  width: 36px;
  height: 36px;
  flex: none;
  order: 11;
  flex-grow: 0;
}

.bloc {
  width: 100%;
  /* Ключевое изменение */
  background: #202027;
}

.bloc__Start-6 {
  overflow: hidden;
  /* Скрываем все, что выходит за пределы контейнера */
  padding-top: 40px;
  box-sizing: border-box;
  position: absolute;
  width: 584.72px;
  height: 584.72px;
  right: 0;
  top: 877px;
  transform: rotate(358deg);
}

.bloc__Start-11 {
  box-sizing: border-box;
  position: absolute;
  width: 31.34px;
  height: 31.34px;
  left: 25px;
  top: 1630px;
  transform: rotate(5.45deg);
}

.bloc__Start-12 {
  box-sizing: border-box;
  position: absolute;
  width: 54.6px;
  height: 54.6px;
  left: 40px;
  top: 1691px;
  transform: rotate(5.45deg);
}

.bloc-catalog {
  padding: 94px 119px 46px 120px;
  opacity: 1;
  left: 0px;
  top: 800px;
  background: #202027;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.bloc-name {
  padding-bottom: 24px;
  height: 78px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bloc-soft {
  padding-bottom: 72px;
  /* В моей коллекции представлено 6 игр на разные темы.?Игры несложные — в них может поиграть каждый. Все игры доступны для пользования. */
  color: white;
  width: 100%;
  font-size: 24px;
}

.card-bloc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Три одинаковые колонки */
  gap: 32px;
  /* Расстояние между карточками */
  position: relative;
  justify-content: center;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease; /* Плавное масштабирование */
}

.card:hover {
  transform: scale(1.05); /* Увеличение на 5% */
}

.card--one,
.card--two {
  z-index: 1000;
}

.card--three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateY(-40px);
  /* width: 378px;*/
}

.card--four {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*width: 378px;*/
}

.bloc-card_5 {
  transform: translateY(-40px);
}

.card__img {
  width: 100%;
  height: 314px;
  background-image: url("./img/igra_1.jpg");
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card__img1 {
  width: 100%;
  height: 314px;
  background-image: url("./img/igra_2.jpg");
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card__img2 {
  width: 100%;
  height: 314px;
  background-image: url("./img/igra_3.jpg");
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card__img3 {
  width: 100%;
  height: 314px;
  background-image: url("./img/igra_4.jpg");
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card__img4 {
  width: 100%;
  height: 314px;
  background-image: url("./img/igra_5.jpg");
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card__img5 {
  transform: translateY(-35px);
  width: 100%;
  height: 314px;
  background-image: url("./img/igra_6.jpg");
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card__igra .card__igra1 {
  text-decoration: none;
}

.card__text,
.card__text--two {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 32px 36px;
  gap: 16px;
  width: 100%;
  height: 159px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card__text--one,
.card__text--four {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 32px 36px;
  gap: 16px;
  width: 100%;
  height: 198px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card__text--three {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 32px 36px;
  gap: 16px;
  width: 100%;
  height: 237px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card__text--five {
  transform: translateY(-35px);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 32px 36px;
  width: 100%;
  height: 237px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card__name,
.card__name1,
.card__name2,
.card__name3,
.card__name4,
.card__name5 {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  display: flex;
  align-items: flex-end;
  color: #202027;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 16px 8px 9px 16px;
  width: 108px;
  background: #F7F7F7;
  border-radius: 52.5825px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card__soft {
  text-decoration: none;
  width: 314px;
  height: 39px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #202027;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.card__soft1 {
  text-decoration: none;
  width: 314px;
  height: 39px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  color: #202027;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.card__soft2 {
  width: 314px;
  height: 39px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #202027;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.card__soft3 {
  width: 314px;
  height: 117px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #202027;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.card__soft4 {
  width: 314px;
  height: 78px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #202027;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.card__soft5 {
  width: 314px;
  height: 117px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #202027;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.mini {
  background: #202027;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.mini__Start-7 {
  position: absolute;
  padding-top: 47px;
  width: 35.15px;
  right: 260px;
  transform: rotate(7.08deg);
}

.mini__Start-8 {
  position: absolute;
  padding-top: 77px;
  width: 68.86px;
  right: 160px;
  transform: rotate(5.45deg);
}

.mini-name1 {
  padding-bottom: 40px;
  /* Мини-игры */
  font-weight: 700;
  font-size: 64px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.mini__card {
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mini__card--one {
  display: flex;
  flex-direction: row-reverse;
  padding: 0px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  align-content: center;
  justify-content: space-between;
}

.mini__card--two {
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  align-content: center;
  justify-content: space-between;
}

.mini__card--three {
  display: flex;
  flex-direction: row-reverse;
  padding: 0px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  align-content: center;
  justify-content: space-between;
}

.mini__card--four {
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  align-content: center;
  justify-content: space-between;
}

.mini__card--five {
  display: flex;
  flex-direction: row-reverse;
  padding: 0px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  align-content: center;
  justify-content: space-between;
}

.mini__img {
  /* Обложка карточки */
  width: 50%;
  height: 500px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  background-image: url("./img/mini__img.jpg");
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mini__img_1 {
  /* Обложка карточки */
  width: 50%;
  height: 500px;
  flex: none;
  flex-grow: 0;
  background-image: url("./img/mini_img_1.jpg");
  border-radius: 30px;
}

.mini__img_2 {
  /* Обложка карточки */
  width: 50%;
  height: 500px;
  flex: none;
  flex-grow: 0;
  background-image: url("./img/mini_img_2.jpg");
  border-radius: 30px;
}

.mini__img_3 {
  /* Обложка карточки */
  width: 50%;
  height: 500px;
  flex: none;
  flex-grow: 0;
  background-image: url("./img/mini_img_3.jpg");
  border-radius: 30px;
}

.mini__img_4 {
  /* Обложка карточки */
  width: 50%;
  height: 500px;
  flex: none;
  flex-grow: 0;
  background-image: url("./img/mini_img_4.jpg");
  border-radius: 30px;
}

.mini__img_5 {
  /* Обложка карточки */
  width: 50%;
  height: 500px;
  flex: none;
  flex-grow: 0;
  background-image: url("./img/mini_img_5.jpg");
  border-radius: 30px;
}

.mini__text {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 48px 203px 48px;
  width: 50%;
  border-radius: 30px;
}

.mini__text--one {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 30px;
  padding: 48px 48px 144px 48px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.mini__text--two {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 48px 203px 48px;
  border-radius: 30px;
  width: 50%;
}

.mini__text--three {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 48px 48px 85px 48px;
  width: 50%;
}

.mini__text--four {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 48px 48px 144px 48px;
  width: 50%;
}

.mini__text--five {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 48px 48px 85px 48px;
  width: 50%;
}

.mini__soft,
.mini__soft1,
.mini__soft3,
.mini__soft5 {
  padding-bottom: 24px;
  width: 504px;
  font-weight: 700;
  font-size: 48px;
  color: #202027;
}

.mini__soft2,
.mini__soft4 {
  width: 505px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  color: #202027;
}

.mini__info,
.mini__info1,
.mini__info2,
.mini__info3,
.mini__info4,
.mini__info5 {
  width: 100%;
  font-size: 24px;
  color: #202027;
  padding-bottom: 36px;
}

.mini__button,
.mini__button1,
.mini__button2,
.mini__button3,
.mini__button4,
.mini__button5 {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  gap: 10px;
  width: 247px;
  height: 66px;
  background: #202027;
  border-radius: 60px;
}

.mini__Start-12 {
  position: absolute;
  width: 69px;
  height: 69px;
  right: 160px;
  margin-bottom: 65px;
}

.mini__Start-9 {
  position: absolute;
  width: 41px;
  height: 41px;
  right: 260px;
}

.footer {
  background: #BDED35;
  margin-top: 144px;
  width: 100%;
}

.footer__text {
  padding: 61px 578px 60px 578px;
  left: calc(50% - 142.5px + 0.5px);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  justify-content: center;
}

/* Ключевые кадры анимации */
@keyframes scrollLeft {
  from {
    transform: translateX(100%);
    /* Стартовая позиция - сдвинут вправо на свою ширину */
  }
  to {
    transform: translateX(-100%);
    /* Конечная позиция - сдвинут влево на свою ширину */
  }
}
/* Стили для экранов с шириной до 767 пикселей */
@media (max-width: 767px) {
  /* Этот код сработает только на мобильных устройствах */
  .cart {
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }
  .container {
    max-width: 100%;
    /* Занимает всю доступную ширину */
  }
  .cart__vector {
    position: absolute;
    width: 223px;
    height: 238px;
  }
  .cart__vector-4780,
  .cart__vector-4781,
  .cart__vector-4782,
  .cart__vector-4788,
  .cart__vector-4791 {
    display: none;
  }
  .cart__Start-4 {
    width: 39px;
    left: 304px;
    top: 580px;
  }
  .cart__Start-5 {
    width: 18px;
    left: 273px;
    top: 557px;
  }
  /* Текст корзины */
  .cart-text {
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
    padding-top: 147px;
    padding-bottom: 131px;
    gap: 36px;
  }
  /* Заголовок H1 внутри текста корзины */
  .cart-text h1 {
    width: 262px;
    height: 196px;
    font-size: 40px;
    line-height: 1.4em;
    text-align: center;
  }
  /* Параграф внутри текста корзины */
  .cart-text p {
    width: 296px;
    height: 60px;
    font-size: 16px;
    line-height: 1.6em;
    text-align: center;
  }
  /* Кнопка: растянута на всю ширину родителя */
  .cart-text__button {
    width: 285px;
    height: 55px;
    padding: 16px 24px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* Центрирует кнопку относительно родителя */
  }
  span {
    font-size: 16px;
  }
  .bloc-catalog {
    padding: 16px 0px 16px 9px;
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }
  .bloc-name {
    display: none;
  }
  .bloc-soft {
    display: none;
  }
  .card-bloc {
    display: none;
  }
  .card {
    flex-direction: column;
    /* Вертикальное расположение элементов */
    align-items: stretch;
    /* Чтобы картинка и текст занимали всю ширину */
    height: auto;
    /* Высота карточки подстраивается под контент */
  }
  /* 3. Стили для изображения внутри карточки */
  .card__img,
  .card__img1,
  .card__img2,
  .card__img3,
  .card__img4,
  .card__img5 {
    width: 100%;
    /* Картинка занимает всю ширину карточки */
    height: auto;
    /* Высота подстраивается, чтобы сохранить пропорции */
    border-radius: 30px 30px 0 0;
    /* Скругляем только верхние углы */
    -o-object-fit: cover;
       object-fit: cover;
    /* Изображение будет масштабироваться без искажений */
  }
  /* 4. Стили для текстового блока внутри карточки */
  .card__text,
  .card__text--one,
  .card__text--two,
  .card__text--three,
  .card__text--four,
  .card__text--five {
    width: 100%;
    /* Текстовый блок занимает всю ширину карточки */
    padding: 24px;
    /* Уменьшаем внутренние отступы для мобайла */
    border-radius: 0 0 30px 30px;
    /* Скругляем только нижние углы */
  }
  .lenta {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    /* Не вылезать за края экрана */
    padding: 16px 24px;
    top: 636px;
  }
  .lenta-content {
    gap: 6px;
  }
  .lenta-content__item-1 {
    /* Викторина */
    height: 18px;
    font-size: 16px;
  }
  .lenta-content__Start {
    width: 19px;
    height: 19px;
  }
  .lenta-content__item-2 {
    height: 18px;
    font-size: 16px;
  }
  .lenta-content__Start-1 {
    width: 19px;
    height: 19px;
  }
  .lenta-content__item-3 {
    height: 18px;
    font-size: 16px;
  }
  .lenta-content__Start-2 {
    width: 19px;
    height: 19px;
  }
  .lenta-content__item-4 {
    height: 18px;
    font-size: 16px;
  }
  .lenta-content__Start-3 {
    width: 19px;
    height: 19px;
  }
  .lenta-content__item-5 {
    height: 18px;
    font-size: 16px;
  }
  .lenta-content__Start-4 {
    width: 19px;
    height: 19px;
  }
  .lenta-content__item-6 {
    height: 18px;
    font-size: 16px;
  }
  .lenta-content__Start-5 {
    width: 19px;
    height: 19px;
  }
  .bloc {
    width: 100%;
    /* Ключевое изменение */
    background: #202027;
  }
  .bloc__Start-6 {
    display: none;
  }
  .bloc__Start-11 {
    display: none;
  }
  .bloc__Start-12 {
    display: none;
  }
  .mini {
    gap: 24px;
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }
  .mini__Start-7 {
    display: none;
  }
  .mini__Start-8 {
    display: none;
  }
  .mini__Start-12 {
    display: none;
  }
  .mini__Start-9 {
    display: none;
  }
  .mini__card {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 528px;
  }
  .mini__card--one {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 567px;
  }
  .mini__card--two {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 567px;
  }
  .mini__card--three {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 606px;
  }
  .mini__card--four {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 567px;
  }
  .mini__card--five {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 626px;
  }
  .mini-name1 {
    padding-top: 48px;
    padding-bottom: 48px;
    /* Мини-игры */
    font-size: 40px;
  }
  .mini__img,
  .mini__img_1,
  .mini__img_2,
  .mini__img_3,
  .mini__img_4,
  .mini__img_5 {
    /* Обложка карточки */
    height: 284px;
    width: 100%;
    border-top-left-radius: 30px;
  }
  .mini__text {
    width: 100%;
    /* Занимает всю ширину карточки, а не 249px */
    min-height: 40px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    padding: 29px 29px 32px 32px;
    /* Боковые отступы как у текстовых блоков ниже */
    box-sizing: border-box;
  }
  .mini__text--one {
    /*padding: 48px;*/
    box-sizing: border-box;
    padding: 29px 29px 29px 32px;
  }
  .mini__text--two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 29px 29px 29px 32px;
  }
  .mini__text--three {
    display: flex;
    flex-direction: column;
    padding: 29px 29px 29px 32px;
  }
  .mini__text--four {
    display: flex;
    flex-direction: column;
    padding: 29px 29px 29px 32px;
  }
  .mini__text--five {
    display: flex;
    flex-direction: column;
    padding: 29px 29px 29px 32px;
  }
  .mini__soft,
  .mini__soft1,
  .mini__soft2,
  .mini__soft3,
  .mini__soft4,
  .mini__soft5 {
    padding-bottom: 16px;
    width: 284px;
    font-size: 32px;
  }
  .mini__info,
  .mini__info1,
  .mini__info2,
  .mini__info3,
  .mini__info4,
  .mini__info5 {
    width: 285px;
    font-size: 16px;
    padding-bottom: 32px;
  }
  .mini__button,
  .mini__button1,
  .mini__button2,
  .mini__button3,
  .mini__button4,
  .mini__button5 {
    width: 285px;
    height: 55px;
  }
  .footer {
    margin-top: 9px;
    font-weight: 190;
    font-size: 16px;
    line-height: 20px;
  }
  .footer__text {
    padding: 40px 92px 40px 93px;
    font-size: 16px;
    width: 375px;
    height: 100px;
  }
}/*# sourceMappingURL=style.css.map */